.App {
  padding: 30px;
  background-color: gray;
}

.search {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 50px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  margin-top: 13px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: green;
}
